
@mixin flex-container($direction, $gap, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($gap, $justify, $align) {
  @include flex-container(column, $gap, $justify, $align);
}

@mixin flex-row($gap, $justify, $align) {
  @include flex-container(row, $gap, $justify, $align);
}